---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    title: "Creacion de la aplicacion de la empresa Laikad",
    company: "Laikad",
    description:
      "Laikad es una empresa de marketing digital especializada en el análisis y rastreo de clics desde dispositivos móviles y desktop. Optimiza campañas con datos precisos para mejorar el rendimiento y maximizar conversiones.",
    link: "https://laikad.com/",
  },
  {
    title: "Farmacia curva roces",
    company: "curva roces",
    description:
      "Creamos una tienda online para la Farmacia Curva Roces, donde puedes comprar medicamentos y productos de cosmética fácilmente. La plataforma incluye funciones esenciales como carrito de compras, pagos seguros, registro e inicio de sesión, gestión de pedidos y seguimiento de envíos, haciendo tu experiencia de compra más sencilla y eficiente.",
  },
  {
    title: "Laikad-space-v1",
    company: "Version 1 de laikad",
    description:
      "Creamos la primera versión de un panel de análisis de campañas usando AngularJS, pensado para facilitar el seguimiento y la visualización de clics en móviles y computadoras. Esta herramienta ofrece datos en tiempo real, simplificando el control de resultados y ayudando a tomar decisiones estratégicas de forma clara.",
  },
  {
    title: "Laikad-space-v2",
    company: "Version 2 de laikad",
    description:
      "Se desarrolló un dashboard de análisis de campañas con Next.js, mejorando rendimiento, SEO y experiencia de usuario. Ahora incluye nuevos filtros de búsqueda, chat en tiempo real y ranking de estadísticas, permitiendo un rastreo más preciso de clics en dispositivos móviles y desktop, con métricas en tiempo real para optimizar decisiones.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
